
body {
    margin:0px;
    padding: 0px;
}



.menu1{
    background: #4e4e4e;
    height: 55px;
    width: 80%;
    overflow: auto;
    top: 0px;
    z-index: 2;
    border-radius: 5%;
    margin: 31px 0px 11px 141px;
    float: left;

}

.logo{
    height: 60px;
    margin: 10px 0 0px 20px;}


.link a{
    margin-right: 35px;
    text-decoration: none;
    font-size: 20px;
    color: lightgrey;
   }

   .link a:hover{
    color:white;}



.menu{
    float: left;
    margin: 16px 51px 8px 19px;
    text-decoration: none;
    color: white;
    z-index: 5;

}

.slider{
    width: 100%;
    background: url();
    height: 70vh;
    margin-top: 0px;
    background-color: black;
    overflow: hidden;
   }

.animation{
    height: 70vh;
    width: 300%;
    position: relative;
    background: url(img/patron.jpg);
    animation-name: slider;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}


/*animation*/

@keyframes slider{
    0% {left: -10%}
    25%{left: -25%}
    50%{left: -100%}
    75%{left: -170%}
    100%{left: -200%}
}