
body {
    margin:0px;
    padding: 0px;
}



.menu1{
    background: #4e4e4e;
    height: 58px;
    width: 82%;
    overflow: auto;
    top: 0px;
    z-index: 2;
    border-color: black;
    margin: 31px 0px 11px 141px;
<<<<<<< HEAD
    float: left;
=======
    border-radius: 4%;
>>>>>>> fe7d335a3ed03af21f5b91cce09fada621a06d53

}

.logo{
    height: 60px;
    margin: 10px 0 0px 20px;}


.link a{
    margin-right: 35px;
    text-decoration: none;
    font-size: 20px;
    color: lightgrey;
   }

   .link a:hover{
    color:white;
    background:lightgrey;
    padding: 20px;}


.menu{
    float: left;
    margin: 16px 51px 8px 19px;
    text-decoration: none;
    color: white;
    z-index: 5;

}

.slider{
    width: 100%;
    background: url();
    height: 70vh;
    margin-top: 0px;
    background-color: black;
    overflow: hidden;
   }

.animation{
    height: 70vh;
    width: 300%;
    position: relative;
    background: url(img/patron.jpg);
    animation-name: slider;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}


/*animation*/

@keyframes slider{
    0% {left: -10%}
    25%{left: -25%}
    50%{left: -100%}
    75%{left: -170%}
    100%{left: -200%}
}