.contenedor{
    width:100%;
    overflow: auto;
    box-sizing: border-box;
 
}
.cuadro{
    float: left;  
    width: 33%;
    height: 50vh;
  
    text-align: center;
    margin-left: 2px;
}

.circulo{
    border-radius: 50%;
    width:120px;
    height: 120px;
    background-color: grey;
    display: inline-block;
    margin-top: 20px;
}

.titulo{
    color: grey;
    font-family: sans-serif
}

.texto{
    color: grey;
    font-family: sans-serif;
    font-size: 15px;
}

.boton{
    color: grey;
    background-color: white;
}